@import "reset.css";

body {
    display: flex;
}

.hero-section {
    flex: 1;
}

.form-section {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.form-explanation {
    flex: 2;
}

.form-container {
    flex: 1;
    flex-direction: column;
    padding: 4rem;
}

.form-row {
    display: flex;
    gap: 6rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-submit {
    flex: 2;
}

.form-section > * {
    display: flex;
}

.form-explanation, .form-submit {
    background-color: ghostwhite;
}

