@import "reset.css";

body {
    display: flex;
}

.hero-section {
    flex: 1;
}

.form-section {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.form-explanation {
    flex: 2;
}

.form-container {
    flex: 1;
}

.form-submit {
    flex: 2;
}

.form-section > * {
    display: flex;
}